
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>MUSTERI ADI</label>
        <input type="text" class="form-control" name="musteriad" />
    </div>
    <div style="margin-top:10px;margin-bottom:10px;">
        <label>MUSTERI SOYADI</label>
        <input type="text" class="form-control" name="musterisoyad" />
    </div>
    <button class="btn btn-info">Musteri Ekle</button>
</form>

