@using Mvcstok.Models.Entity
@model List<tbl_kategoriler>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>KATEGORI ID</th>
        <th>KATEGORI ADI</th>
        <th>SIL</th>
        <th>GUNCELLE</th>

    </tr> 
    <tbody>
        @foreach(var ktgr in Model)
            {
                <tr>
                    <th>@ktgr.kategoriid</th>
                    <td>@ktgr.kategoriad</td>
                    <td><a href="/Kategorit/SIL/@ktgr.kategoriid" class="btn btn-danger">SIL</a></td>
                    <td><a href="/Kategorit/GUNCELLE/@ktgr.kategoriid" class="btn btn-success">GUNCELLE</a></td>
                </tr>
            }
    </tbody>
</table>

<a href="/Kategorit/YeniKategori/" class="btn btn-primary">YENI KATEGORI EKLE</a>


